<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Lab 14: AngularUI Bootstrap Components</h1>

      <p>
        <button ng-click="mainController.createUser()" type="button" class="btn btn-default">Create User</button>
      </p>

      <div ng-controller="AccordionDemoCtrl">
        <script type="text/ng-template" id="group-template.html">
                          <div class="panel-heading">
                            <h4 class="panel-title" style="color:#fa39c3">
                              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                  {{heading}}
                                </span>
                              </a>
                            </h4>
                          </div>
                          <div class="panel-collapse collapse" uib-collapse="!isOpen">
                            <div class="panel-body" style="text-align: right" ng-transclude></div>
                          </div>
                        </script>

        <uib-accordion ng-repeat="user in mainController.users" close-others="oneAtATime">
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              Name: {{user.name.firstName}} {{user.name.lastName}}
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <p>ID: {{user._id}}</p>
            <p>Age: {{user.age}}</p>
            <p>First Name: {{user.name.firstName}}</p>
            <p>Middle Name: {{user.nam.middleName}}</p>
            <p>Last Name: {{user.name.lastName}}</p>
            <p>Address Line 1: {{user.address.addressLine1}}</p>
            <p>Address Line 2: {{user.address.addressLine2}}</p>
            <p>City: {{user.address.city}}</p>
            <p>State: {{user.address.state}}</p>
            <p>ZIP: {{user.address.zip}}</p>
            <button ng-click="mainController.updateUser(user)" type="button" class="btn btn-default">Update User</button>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>