<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Project 1: Server-side API Design using Node.js, Express.js, MongoDB, and Mongoose</h1>
      <h4>Use Postman or another program to test API routes.</h4>
      <h5>Description of API design: This API includes a list of users, which each have a unique username and email associated with them, as well as names, and can be accessed through /users. Recipes are under a separate route at /recipes, and contain descriptions, ingredients, instructions, and times for prep and cooking. They also have a list of reviews associated with them. Reviews are a separate resource within the recipe model, and are accessed by using /recipes/reviews to load all reviews or /recipes/recipeid/reviews/reviewid to access a specific review. Visit users/index.js and recipes/index.js for more specific description of routes, and their respective .model.js files for info on schema used.</h4>
        <h5>Extra Credit: added GUI to view and navigate contents of users, recipes, and reviews using AngularJS. Implemented links between recipes and their reviews, and reviews and the user that created them, using the objectid framework used in the API.</h2>
          <h4>
            <a ng-href="/about">About</a>
            </h2>
            <h2>Users</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in mainController.users">
                  <td>
                    <a ng-href="/users/{{user._id}}">{{user._id}}</a>
                  </td>
                  <td>{{user.name.firstName}}</td>
                  <td>{{user.name.middleName}}</td>
                  <td>{{user.name.lastName}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                </tr>
              </tbody>
            </table>

            <h2>Recipes</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Prep Time</th>
                  <th>Cook Time</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="recipe in mainController.recipes">
                  <td>
                    <a ng-href="/recipes/{{recipe._id}}">{{recipe._id}}</a>
                  </td>
                  <td>{{recipe.name}}</td>
                  <td>{{recipe.description}}</td>
                  <td>{{recipe.preptime}}</td>
                  <td>{{recipe.cooktime}}</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>