<div ng-controller="CollapseDemoCtrl">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li>
          <a href="/about/">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Recipe Details</h1>
      <h2>{{recipeDetailsController.recipe.name}}</h2>
      <br>
      <div class="col-xs-12 col-md-6 box">
        <h4>ID: {{recipeDetailsController.recipe._id}}</h4>
        <h4>Description: {{recipeDetailsController.recipe.description}}</h4>
        <h4>Prep Time: {{recipeDetailsController.recipe.prepTime}}</h4>
        <h4>Cook Time: {{recipeDetailsController.recipe.cookTime}}</h4>

        <h4>Ingredients Name: {{recipeDetailsController.recipe.ingredients[0].name}}</h4>
        <h4>Ingredients Amount: {{recipeDetailsController.recipe.ingredients[0].amount}}</h4>
      </div>

      <div class="col-xs-12 col-md-6">
        <img src="{{recipeDetailsController.recipe.image}}" style="width: 100%; margin-top: 20px;">
      </div>
      <div class="col-xs-12 box">
        <h4>Directions:</h4>
        <div ng-repeat="direction in recipeDetailsController.recipe.directions">
          <h4>-{{direction}}</h4>
        </div>
      </div>
      <div class="col-xs-12" style="padding-top: 30px;">
        <center>
          <button ng-click="recipeDetailsController.updateRecipe(recipeDetailsController.recipe)" type="button" class="btn btn-default">Edit Recipe</button>
          <button ng-click="recipeDetailsController.createReview(recipeDetailsController.recipe)" type="button" class="btn btn-default">Create Review</button>
        </center>
      </div>
      <br>
      <br>
      <h4>Reviews</h4>

      <div ng-controller="AccordionDemoCtrl">
        <script type="text/ng-template" id="group-template.html">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{heading}}
                </span>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
          </div>
        </script>
        <uib-accordion close-others="oneAtATime" ng-repeat="review in recipeDetailsController.recipe.reviews">
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <div ng-init="rate = review.rating">
                Rating:
                <span uib-rating ng-model="rate" read-only="true"></span>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </div>
            </uib-accordion-heading>
            <h4>ID: {{review._id}}</h4>
            <h4>Description: {{review.description}}</h4>
            <h4>Rating:
              <span uib-rating ng-model="rate" read-only="true"></span>
            </h4>
            <h4>Date: {{review.createDate | date:'MM/dd/yyyy HH:mm'}}</h4>
            <h4>User:
              <a ng-href="/users/{{review.user}}">{{review.user}}</a>
            </h4>
            <button ng-click="recipeDetailsController.updateReview(recipeDetailsController.recipe, review)" type="button" class="btn btn-default">Edit Review</button>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>